/* .cv-section-contact {
    width: 100%;
    height: 100%;
}

.cv-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;

} */

.contact-section-form {
    display: flex;
    justify-content: center;
    height: 80%;
}

.heading-contact {
    padding: 3rem;
    text-align: center;
}

.boton-enviar-contact {
    background-color: rgb(137, 41, 255);
}
